<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/home.css" />
   <title>Route Testing | Pixy</title>
</head>

<body>
   <section class="testing-box">
         <div class="title">
         <!-- <img src="https://via.placeholder.com/50x50" alt="Placeholder image for pixy logo"> -->
         <h1>Pixy Route Testing</h1>
      </div>
      <div class="button-list">
         <a class="test-link" href="/users">Users</a>
         <a class="test-link" href="/photos">Photos</a>
         <a class="test-link" href="/clips">Clips</a>
      </div>
   </section>   
</body>

</html>